DEBUG=True/False
SECRET_KEY=your_secret_key
DATABASE_HOST=host
DATABASE_NAME=db
DATABASE_USER=user
DATABASE_PASSWORD=password
DATABASE_PORT=0000
RABBITMQ_HOST=0000
REDIS_HOST=host
REDIS_PORT=0000
CACHE_TTL=000
